
.suppliersSection  {
    width: calc(100% - 225px);
    margin-left: 235px;
    margin-top: 30px;
}

.suppliersSection .manageSuppliers{
    background: #6DC3D0;
    margin-left: 10px;
    height: 85px;
    padding-left:15px;
    display: flex;
    justify-content:space-between;

}

.suppliersSection .manageSuppliers .suppliersBtn{
    margin-right: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.suppliersSection .manageSuppliers .suppliersBtn #new{
    margin-left: 30px;
    width: 100px;
    background-color: darkgoldenrod;
    border-style: none;
    font-size: 23px;
    color: white;

}
.suppliersSection .manageSuppliers .suppliersBtn #update{
    margin-left: 30px;
    width: 100px;
    background-color: #91B150;
    border-style: none;
    font-size: 23px;
    color: white;
}
.suppliersSection .manageSuppliers .suppliersBtn #delete{
    margin-left: 30px;
    width: 100px;
    background-color: darkgoldenrod;
    border-style: none;
    font-size: 23px;
    color: white;

}
.suppliersSection .manageSuppliers .suppliersBtn span{
    color: black;
    background-color: #6DC3D0;
    font-size: 40px;
}

/* add suppliers form */
.addSuppliersForm {
    margin-left: 285px;
    width: calc(100% - 285px);
    margin-bottom: 20px;
}

.addSuppliersForm form {
  display: flex;
  flex-direction: column;
}

/* add supplier form sections */
.form-section {
    margin-left: 265px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 15px;
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%;
}

/* manage suppliers form groups */
.form-group-row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}

.form-group {
    width: calc(48% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: 10px;
}

/* form fields */
.supplier-input,
.custom-supplier,
.datepicker {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.addSuppliers-submit {
    background-color: #8BAB11;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-right: 70px;
    margin-left: 40px;
}
.addSuppliers-submit:hover {
    background-color: #91B150;
}

/* registered suppliers table styles */
.registeredSuppliers .addedSuppliers{
    margin-left: 255px;
    width: calc(100% - 265px);
    background-color: #D3D3D3;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 5px
}
.registeredSuppliers .addedSuppliers #RegisteredSuppliersTable th{
    font-weight: bolder;
    font-size: 14px;
    color: #10558d;
}

.registeredSuppliers .addedSuppliers #RegisteredSuppliersTable tr:hover{
    color: rgb(5, 68, 104);
    background: #D3D3D3;
    border-right: 2px solid rgb(5, 68, 104);
    border-left: 2px solid rgb(5, 68, 104);
}