{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block header_title %}ManageMedicine{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/accountsStyles/pharmacist_homestyles.css' %}">
    <link rel="stylesheet" href="{% static 'css/pharmacyStyles/manageMedicineStyles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<div class="main_content">

    <div class="menu">
    <div class="sidebar">
        <div class="profile">
                <img src="https://images.pexels.com/photos/3938022/pexels-photo-3938022.jpeg?auto=compress&cs=tinysrgb&w=600" alt="profile_picture">
                <h4>{{ user.get_username }}</h4>
                <p>Pharmacist</p>
            </div>

        <ul>

                <li>
                    <a href="{% url 'pharmacist-home' %}" class="active">
                        <span class="icon"><i class="fas fa-desktop" id="dashboard"></i></span>
                        <span class="item">Pharmacist Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manageMedicine' %}">
                        <span class="icon"><i class="fas fa-user-friends" id="medicine"></i></span>
                        <span class="item">Manage Medicine</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'online_store' %}">
                        <span class="icon"><i class="fas fa-tachometer-alt" id="store"></i></span>
                        <span class="item">Online Store</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manageClients' %}">
                        <span class="icon"><i class="fas fa-tachometer-alt" id="clients"></i></span>
                        <span class="item">Manage Clients</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'manageSuppliers' %}">
                        <span class="icon"><i class="fas fa-user-shield" id="suppliers"></i></span>
                        <span class="item">Manage Suppliers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-chart-line" id="reports"></i></span>
                        <span class="item">Reports</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="section">
            <div class="top_navbar ">

                <!-- menu bars to hide and show menu
                <div class="hamburger">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                -->

             <h4>Manage Medicine: Medicine Records</h4>
                <h4>Date Today: {% now "N j, Y" %}. </h4>
                <div class="bar_icons">
                <span class="glyphicon glyphicon-search"><a href=""></a></span>
                 <a href=""><span class="glyphicon glyphicon-bell"><a href=""></a></span></a>
                <!-- Add a div for the user dropdown -->
            <div class="dropdown">
        <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="userDropdown">
            <!-- Add a link for the Django LogoutView -->
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
                    </div>
            </div>
         </div>

    </div>

<div class="medicineSection">
    <div class="manageMedicine">
        <h1>Manage Medicine</h1>
        <div class="editmedicineBtn">
            <a href="{% url 'manageMedicine' %}"><button> Edit Medicine Record <span>|</span></button></a>
            <a href="{% url 'addMedicine' %}"><button> Add New Medicine<span>|</span></button></a>
        </div>
        </div>
</div>

<!-- new content from extended templates will be displayed here  -->

<div class="addMedicineForm">
 {% block content %}
  <div class="addedMedicine">
    <h2>Registered Medicines:</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Medicine Name</th>
          <th>Description</th>
          <th>Unit Volume</th>
          <th>Price Per Unit Volume</th>
          <th>Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for medicine in all_medicines %}
          <tr>
            <td>{{ medicine.medicine_name }}</td>
            <td>{{ medicine.description }}</td>
            <td>{{ medicine.unitVolume }}</td>
            <td> {{ medicine.pricePerUnitVolume }}</td>
            <td>{{ medicine.count }}</td>
            <td>
                        <a href="{% url 'edit_medicine' medicine.id %}">Edit</a>
                        <a href="{% url 'delete_medicine' medicine.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
</div>


</div>

<!--  footer -->
<footer>
<div class="section">
            <div class="footer">
             <h4>Pharmacy Management System</h4>
                <h5>Developed by: Syombua Jedidah</h5>
                <p><br>&copy 2023 SYj Solutions - Pharmacy Management System &nbsp;</p>
            </div>
         </div>
    </footer>

</body>
</html>