/* customer_signupstyles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}
.customer_signupform{
    display: grid;
    place-items: center;
    margin-top: 20px;

}
#username{
    padding: 10px;
    height: 100px;
}
form {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 500px;
}

h1 {
    text-align: center;
}
label{
    margin: 5px;
    font-weight: bold;
    font-size: 13px;
}

.custom-input {
    margin-left: 6px;
    width: 90%;
    padding: 5px;

}
.form-group {
    margin: 3px;
}
/* Customize layout */


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
}
