{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/accountsStyles/pharmacist_signupstyles.css' %}">
    <title>PMS/Pharmacist Signup</title>
</head>
<body>
    <h1>Pharmacist Signup</h1>
    <div class="pharmacist_signupform">
    <form action="{% url 'pharmacist-signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Signup">
    </form>
        </div>
    <p>Already registered!</p>
    <a href="{% url 'login' %}">Login Now</a><br>
</body>
</html>