{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pharmacist Home</title>

    <link rel="stylesheet" href="{% static 'css/accountsStyles/pharmacist_homestyles.css' %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/accountsStyles/pharmacist_homestyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        #homecarousel{
            width: calc(100% - 275px);
            margin-left: 275px;
            top: 80px;
            position: relative;
            padding: 5px;

        }
        #homecarousel .carousel-inner{
            height: 460px;
        }
        #homecarousel .carousel-inner img{
            filter: blur(1.5px);
        }
       .carousel-inner .carousel-caption {
           position: absolute;
           display:table;
           width:100%;
           height:100%;
           top: 80px;
           left: 50px;
       }
    </style>
</head>
<body>
<div class="main_content">
<!-- main menu which is a sidebar -->
    <div class="home-menu">
    <div class="home-sidebar">
        <div class="profile">
            <!-- inside the sidebar at the top, profile picture, and pick username of logged-in user -->
                <img src="https://images.pexels.com/photos/3938022/pexels-photo-3938022.jpeg?auto=compress&cs=tinysrgb&w=600" alt="profile_picture">
                <h4>{{ user.get_username }}</h4>
                <p>Pharmacist</p>
            </div>

        <ul>
            <!-- sidebar icons and links -->
                <li>
                    <a href="{% url 'pharmacist-home' %}" class="active">
                        <span class="icon"><i class="fas fa-desktop" id="dashboard"></i></span>
                        <span class="item">Pharmacist Home</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manageMedicine' %}">
                        <span class="icon"><i class="fa-solid fa-house-medical" id="medicine"></i></span>
                        <span class="item">Manage Medicine</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'online_store' %}">
                        <span class="icon"><i class="fas fa-tachometer-alt" id="store"></i></span>
                        <span class="item">Online Store</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'manageClients' %}">
                        <span class="icon"><i class="fa-solid fa-hand-holding-heart" id="clients"></i></span>
                        <span class="item">Manage Clients</span>
                    </a>
                </li>
                <li>

                <li>
                    <a href="{% url 'manageSuppliers' %}">
                        <span class="icon"><i class="fas fa-user-shield" id="suppliers"></i></span>
                        <span class="item">Manage Suppliers</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'reports' %}">
                        <span class="icon"><i class="fas fa-chart-line" id="reports"></i></span>
                        <span class="item">Reports</span>
                    </a>
                </li>

            </ul>
        </div>
<!-- top bar with date today and search and user icons -->
        <div class="home-section">
            <div class="top_navbar ">


             <h2>Pharmacist  Home</h2>
                <h4>Date Today: {% now "N j, Y" %}. </h4>
                <div class="bar_icons">
                <span class="glyphicon glyphicon-search"><a href=""></a></span>
                 <span class="glyphicon glyphicon-bell"><a href=""></a></span>
                <!-- Add a div for the user dropdown -->
            <div class="dropdown">
                <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a><!-- link Django LogoutView -->
            </div>
            </div>
                    </div>
            </div>
         </div>

    </div>

    <!--pharmacist home  carousel giving detailed info of what to expect -->
  <div id="homecarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homecarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homecarousel" data-slide-to="1"></li>
        <li data-target="#homecarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="{% static 'img/introimg.jpg' %}" alt="">
            <div class="carousel-caption">
                <h3 style="color: blue">Medicine Hub</h3>
                <p style="font-weight: bolder"> Description:Take command of your pharmacy's medicine inventory effortlessly.
                    <br> Record and manage medicine details, including;<br> names, descriptions, expiry dates, stock levels, and pricing per unit volume.
                    <br> Whether you operate physically or online, the Medicine Mastery Hub
                    <br>caters all your needs. </p>
                   <h3 style="color: #91B150; font-weight: bolder">Online Store</h3>
                    <p>Online pharmacists can utilize the added feature of an online store
                        <br> with images to captivate and serve their virtual customers.</p>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/medicalservice.jpg' %}" alt="">
            <div class="carousel-caption">
                <h3 style="color: #91B150; font-weight: bolder">Client Care Center</h3>
               <p>Description: Elevate your customer care with the Client Care Command Center.
                <br>Monitor and manage online customers, access their medical information, and
                <br>stay connected through vital contact details. This tool empowers pharmacists to provide
                <br>personalized and attentive medical advice, building strong and caring relationships with their clients/patients. </p>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/healthcarecenter.jpg' %}" alt="">
            <div class="carousel-caption">
                <h3 style="color:blue">Supplier Management </h3>
                <p style="font-weight: bolder;background-color: #6c757d">Description: Unleash the power of Supplier Management section to streamline your supplier relationships.
                    <br> Effortlessly record and track supplier details, keeping a vigilant eye on their active status.
                    <br> Stay organized with comprehensive contract details for each supplier.
                    <br>Supplier Management Sentinel is your key to a well-organized and efficient pharmacy operation.</p>
            </div>
        </div>
    </div>

    <!-- carousel navigation(next/prev) arrows -->
    <a class="left carousel-control" href="#homecarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homecarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

</div>

<!-- pharmacist home footer -->
<footer>
<div class="section">
            <div class="footer">
             <h4>Pharmacy Management System</h4>
                <h5>Developed by: Syombua Jedidah</h5>
                <p><br>&copy 2023 SYj Solutions - Pharmacy Management System &nbsp;</p>
            </div>
         </div>
    </footer>
</body>
</html>


<!-- username - huaweiclass       pass - huawei@2023   -->